# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/
env/

# Environment Variables
.env

# IDE
.vscode/
.idea/

# macOS
.DS_Store

# Python Build Files
build/
dist/
*.egg-info/

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

# UV
.python-version